body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 48px;         
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.08);
}

.navbar-container {
    width: 100%;
    max-width: 1440px;     
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;        
}

.logo-container p{
    font-size: 20px;
    font-weight: 600;
}

.button-container {
    display: flex;
    gap: 20px; 
}

.button-container button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notis-side {
    display: flex;
    gap: 12px; 
    cursor: pointer; 
}

.notification-button img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-top: 8px;
}

.header .dashboard {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-left: 15px;
    font-family: "Helvetica Neue", sans-serif;
}

.header .contact {
    background-color: #1b1bfc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 20px;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;
}

.header .contact:hover {
    opacity: 0.8;
}

/* CHART */
#chart {
  width: 100%;
  max-width: 1263px;   
  height: 352px;
  margin: 20px auto;  
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

/* DESCRIPTION */
.description h3{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-left: 15px;
  font-family: "Helvetica Neue", sans-serif;
}

.description p{
  font-size: 15px;
  color: #000000;
  margin-left: 15px;
  font-family: "Helvetica Neue", sans-serif;
}
/* USERS SECTION */

#users h3{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-left: 15px;
  font-family: "Helvetica Neue", sans-serif;
}

#users table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 12px;
    margin-left: 20px;
    text-align: center;

}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

th {
    background: #fafafa;
    font-weight: 600;
}

tr:hover {
    background: #f4f4f4;
}